---
import { Icon } from 'astro-icon/components'
---

<nav class="flex items-center justify-center gap-8 py-4">
    <a
        href="https://github.com/ucielsola"
        rel="noopener noreferrer"
        target="_blank"
        aria-label="Uciel Sola on GitHub"
        title="Find me on GitHub"
    >
        <Icon name="bi:github" class="w-6 h-6 text-buffy hover:text-vonCount-100 active:text-green-300 transition-colors duration-150" />
    </a>
    <a
        href="https://linkedin.com/in/ucielsola"
        rel="noopener noreferrer"
        target="_blank"
        aria-label="Uciel Sola on Linkedin"
        title="Find me on Linkedin"
    >
        <Icon name="bi:linkedin" class="w-6 h-6 text-buffy hover:text-vonCount-100 active:text-green-300 transition-colors duration-150" />
    </a>
</ul>
