<script>
	const position = {
		x: 0,
		y: 0,
	};

	const handleMouseMove = (e: MouseEvent) => {
		position.x = e.clientX;
		position.y = e.clientY;
	};

	window.addEventListener("mousemove", handleMouseMove);
</script>

---


on
---

<div class={`absoloute w-10 h-10 rounded-full bg-nosferatu-200 top-[${position.x}]`}></div>