---
import Link from "./Link.astro";

const links = [
	{
		href:"https://music-player.ucielsola.me",
		icon: "bi:music-note-beamed",
		text: "Music Player"
	},
	{
		href:"https://lmot.ar",
		icon: "bi:music-note-beamed",
		text: "Live Music Program"
	},
	{
		href:"https://ucihuen.com.ar",
		icon: "bi:house",
		text: "Cabañas Ucihuen"
	}
]
---

<aside class="border-l px-8 w-full h-full flex flex-col gap-8 py-4 ml-2 md:ml-0 md:mb-48 min-w-fit">
	<h3 class="text-lg font-bold text-cullen">Side projects</h3>

	<div class="flex flex-col gap-4">
		{links.map(l=><Link href={l.href} text={l.text} icon={l.icon}/>)}
	</div>
</aside>
