---
import { Icon } from "astro-icon";
---

<div class="flx flex-col gap-4 items-center w-12 bg-nosferatu-100">
    <Icon name="mdi:alpha-m-box-outline" class="w-6 h-6 hover:text-vonCount-100 transition-colors duration-150" />
    <Icon name="tabler:brand-linkedin" class="w-6 h-6 hover:text-vonCount-100 transition-colors duration-150" />
</div>
