/* play-regular - latin */
@font-face {
	font-family: 'Play';
	font-style: normal;
	font-weight: 400;
	src: local(''), url('./fonts/play/play-v12-latin-regular.woff2') format('woff2'),
		url('./fonts/play/play-v12-latin-regular.woff') format('woff');
}

/* open-sans-regular - latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local(''), url('./fonts/open-sans/open-sans-v27-latin-regular.woff2') format('woff2'),
		url('./fonts/open-sans/open-sans-v27-latin-regular.woff') format('woff');
}

:root {
	--primary: #2d4263;
	--secondary: #c84b31;
	--text-color: #202020;
	--text-contrast: #f6efede3;
	--shadow-color: #2020206e;
	--page-background: #f3f3f3;

	--title-font: 'Play', sans-serif;
	--body-font: 'Open Sans', sans-serif;
	--easing: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.darkMode {
	--primary: #c84b31;
	--secondary: #5375ac;
	--text-contrast: #202020;
	--text-color: #f6efed;
	--shadow-color: #d3d3d352;
	--page-background: #202020;
}

* {
	background-attachment: scroll;
	transition: color 0.35s var(--easing) , background-color 0.35s var(--easing), box-shadow 0.35s var(--easing), outline 0.35s var(--easing);
}

body {
	background-color: var(--page-background);
	font-family: var(--body-font);
	color: var(--text-color);
}

section {
	padding-top: 3rem;
}

a {
	text-decoration: none;
}



p {
	font-size: 1.05rem;
}

.primary {
	color: var(--primary);
}

.highlight {
	color: var(--secondary);
}
.text-right {
	text-align: right;
}

@media (min-width: 1024px) {
	p {
		font-size: 2rem;
		line-height: 175%;
	}
	
	body::-webkit-scrollbar {
		width: 1rem;
	}
	
	body::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px var(--page-background);
	}
	
	body::-webkit-scrollbar-thumb {
		background-color: var(--primary);
		border-radius: 15px;
	}
	
	body::-webkit-scrollbar-thumb:active {
		background-color: var(--text-color);
	}
	
}