@import 'tailwindcss';
@plugin "daisyui" {
	themes: nord --default, nord --prefersdark;
  }

@font-face {
	font-family: 'Garamond';
	src: url('/eb_garamond.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Garamond', Georgia, serif;
}

a:not(.btn) {
	@apply btn btn-xs;
}

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
