---
import Pointer from "../components/Pointer.svelte";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="overflow-x-hidden">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<meta
			name="description"
			content="Frontend developer from Buenos Aires specializing in TypeScript, creating engaging web experiences with HTML, CSS, and frameworks."
		/>
		<meta name="author" content="Uciel Sola" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta property="og:title" content="Frontend Developer | Uciel Sola" />
		<meta
			property="og:description"
			content="Frontend developer from Buenos Aires specializing in TypeScript, creating engaging web experiences with HTML, CSS, and frameworks"
		/>
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://mnf.red/ucielsola" />
		<meta
			property="og:image"
			content="https://ucielsola.com/images/uciel_sola.png"
		/>
		<meta property="og:image:alt" content="Uciel Sola" />
		<meta property="og:site_name" content="Your Website" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@ucielsola" />
		<meta name="twitter:title" content="Frontend Developer | Uciel Sola" />
		<meta
			name="twitter:description"
			content="Frontend developer from Buenos Aires specializing in TypeScript, creating engaging web experiences with HTML, CSS, and frameworks"
		/>
		<meta
			name="twitter:image"
			content="https://ucielsola.com/images/uciel_sola_tw.jpg"
		/>
		<meta name="twitter:image:alt" content="Uciel Sola" />


		<meta name="google-site-verification" content="utg-d8WihBSqDwO_AoYBtwkJYnqqFxegE6AkxC4O7Vc" />
	</head>
	<body class="bg-nosferatu my-4 overflow-x-hidden h-full">
		<Pointer client:only />
		<slot name="content" />
	</body>

	<footer class="border-t border-aro-800 mt-8">
		<slot name="footer" />
	</footer>
</html>
<style is:global>
	html {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}

	body {
		background-image: url(/noise.png);
	}
</style>
